<!--
<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <form action="/auth/signIn" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
    </div>
</div>-->
<div class="col s12 m3 l3">
</div>
<div class="col s12 m9 l6 ">

    <div class="card white">
        <div class="card grey lighten-5" id="login-body">
            <form action="/auth/signIn" method="post">
                <div class="card-content black-text">
                    <span class="card-title col s12 center-align">Life Navigator Admin Panel Sign In</span>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Username" name="email" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Password" name="password" type="password" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 center-align">
                            <input value="Sign in" type="submit" class="waves-effect waves-light btn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
