<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport">
    <title>Life Navigator | Admin</title>

    <link rel="icon" href="images/favicon.png" type="image/*">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="/stylesheets/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/init.js"></script>
</head>
<body>
<div class="row">
    {{> navbar}}
