<div class="list-group border-0 card text-center text-md-left">
    <a id="mainMenu" href="#defaultSiteMenu" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-anchor"></i> <span class="d-none d-md-inline">Default Site</span> </a>
    <div class="collapse" id="defaultSiteMenu">
        <a id="subMenu" href="/defaultSite/homePage" class="list-group-item" data-parent="#defaultSiteMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" aria-hidden="true"></i>
            Home Page</a>
        <a id="subMenu" href="/defaultSite/accomplishments" class="list-group-item" data-parent="#defaultSiteMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trophy" aria-hidden="true"></i>
            Accomplishments</a>
        <a id="subMenu" href="/defaultSite/futureGoals" class="list-group-item" data-parent="#defaultSiteMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>
            Goals</a>
        <a id="subMenu" href="/defaultSite/assessRisk" class="list-group-item" data-parent="#defaultSiteMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-grav" aria-hidden="true"></i>
            Assess Risk</a>
        <a id="subMenu" href="/defaultSite/myPlan" class="list-group-item" data-parent="#defaultSiteMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-location-arrow" aria-hidden="true"></i>
            My Plan</a>
    </div>

    <a id="mainMenu" href="#instancesMenu" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-window-restore"></i> <span class="d-none d-md-inline">Instances</span> </a>
    <div class="collapse" id="instancesMenu">
        <a id="subMenu" href="/instances/createSelectInstances" class="list-group-item" data-parent="#instancesMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paragraph" aria-hidden="true"></i>
            Create/Select</a>
        <a id="subMenu" href="/instances/editInstances" class="list-group-item" data-parent="#instancesMenu">
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square" aria-hidden="true"></i>
            Edit</a>
    </div>
    <hr color="white">
    <a id="mainMenu" href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-users"></i> <span class="d-none d-md-inline">Users</span></a>
    <a id="mainMenu" href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-arrow-circle-down"></i> <span class="d-none d-md-inline">Exports</span></a>
    <a id="mainMenu" href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-cogs"></i> <span class="d-none d-md-inline">Users Fallout</span></a>
    <a id="mainMenu" href="/auth/logout" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-sign-out"></i> <span class="d-none d-md-inline">Logout</span></a>
</div>