<div class="col s12 m8 l9">

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">User Data</span>
            UserData
        </div>
    </div>

</div>
