<button class="btn btn-primary" data-toggle="modal" data-target="#targetModalId">Update</button>
<div class="modal fade" id="targetModalId" tabindex="-1" role="dialog" aria-labelledby="leModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Level</h5>
                <form action="#" method="post">
                    <input type="hidden" name="" value="">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <input type="hidden" name="callBackURL" value="callbackValue">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Name" value="Name Value">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>