

<div class="col s12 m8 l9 ">

    <div class="card white">
        <div class="card-content black-text" style="margin-top: 100px;">
            <span class="card-title center-align">Welcome to the admin panel</span>
            <br>
            <p class="center-align">Please use the navigation panel at the left for updating and controlling information.</p>
        </div>
    </div>

</div>
