<div class="row">
    <div class="col-8">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Admin List</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            {{#each users}}
                <tr>
                    <td>{{this.local.email}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        This is creating users
    </div>
</div>