        </div>
    </body>
        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible();
                $('.modal').modal();
            });
        </script>
</html>
