<div class="row">
    <div class="col-9">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Instances List</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
                <th scope="col">Activation</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>Instance Name 1</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                </td>
            </tr>

            <tr>
                <td>Instance Name 1</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                </td>
            </tr>

            <tr>
                <td>Instance Name 1</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="col-3">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Instances List</div>
        <form>
            <div class="form-group">
                <label>Instance Name</label>
                <input type="text" class="form-control" placeholder="Enter Instance Name">
            </div>
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" placeholder="Enter Company Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>