<div class="col m7 s12">
    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Instance Lists</span>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Activation</th>
                    <th>Update</th>
                </tr>
                </thead>

                <tbody>
                {{#each instances}}
                <tr>
                    <td>{{this.instanceName}}</td>
                    <td>
                        <input value="{{this.instanceLink}}" type="text" >
                    <td>
                    {{#if this.isActive}}
                        <div class="switch">
                            <label>
                                hide
                                <input type="checkbox" checked>
                                <span class="lever"></span>
                                show
                            </label>
                        </div>
                    {{else}}
                        <div class="switch">
                            <label>
                                hide
                                <input type="checkbox">
                                <span class="lever"></span>
                                show
                            </label>
                        </div>
                    {{/if}}
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn">Update</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="col m2 s12">
    <div class="card grey lighten-5" id="login-body">
        <form action="/instances/createInstance" method="post">
            <div class="card-content black-text">
                <span class="card-title">Add Instance</span>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter Instance Name" name="instanceName" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter Company Name" name="companyName" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter Instance URL" name="instanceLink" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input value="Submit" type="submit" class="waves-effect waves-light btn">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
