<div class="col s12 m8 l9">
    <div class="dropdown">
        <button class="dropbtn">Select Instance</button>
        <div class="dropdown-content-custom">
            {{#each instances}}
                <a href="/instances/editInstances/{{this._id}}">{{this.instanceName}}</a>
            {{/each}}
        </div>
    </div>
</div>

<div class="col s12 m8 l9">

    <div class="card white">
        <div class="card-content black-text">
            <span class="card-title">Edit Instances</span>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s2"><a href="#homeTab">Home</a></li>
                        <li class="tab col s2"><a href="#signUpTab">Sign Up</a></li>
                        <li class="tab col s2"><a href="#accomplishmentTab">Accomplishment</a></li>
                        <li class="tab col s2"><a href="#futureGoalTab">Future Goal</a></li>
                        <li class="tab col s2"><a href="#assessRiskTab">Assess Risk</a></li>
                        <li class="tab col s2"><a href="#myPlanTab">My Plan</a></li>
                    </ul>
                </div>
                <div id="homeTab" class="col s12">
                    {{> tab/homePage}}
                </div>
                <div id="signUpTab" class="col s12">
                    {{> tab/siteUserSignUp}}
                </div>
                <div id="accomplishmentTab" class="col s12">
                    {{> tab/accomplishment}}
                </div>
                <div id="futureGoalTab" class="col s12">
                    {{> tab/futureGoal}}
                </div>
                <div id="assessRiskTab" class="col s12">
                    {{> tab/assessRisk}}
                </div>
                <div id="myPlanTab" class="col s12">
                    {{> tab/myPlan}}
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.dropdown-trigger');
    //     var instances = M.Dropdown.init(elems, options);
    // });
    // $('.dropdown-trigger').dropdown();
</script>