<br>

<div class="row">
    <div class="col-6">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Enter Button Texts</div>
        <hr>
        <ul class="list-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Button 1 Text</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Button 2 Text</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Button 3 Text</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Button 4 Text</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </ul>
    </div>
    <div class="col-6">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Enter Button Link</div>
        <hr>
        <form>
            <div class="row">
                <div class="col-6">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Select Button</option>
                        <option value="1">Button 1</option>
                        <option value="2">Button 2</option>
                        <option value="3">Button 3</option>
                    </select>
                </div>
                <div class="col-6">
                    <div class="">
                        <input type="text" class="form-control" id="" placeholder="Enter Link">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<hr class="font-weight-bold">

<div class="row">
    <div class="col-12">
        <hr>
        <form>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label font-weight-bold">Enter Header</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Header">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label font-weight-bold">Enter Sub Header</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Sub Header">
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<hr class="font-weight-bold">

<div class="row">
    <div class="col-12">
        <div class="text-center font-weight-bold d-block p-2 bg-secondary text-white">Goal List</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Goal Category</th>
                <th scope="col">Goal Text</th>
                <th scope="col">Visibility</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Goal Category 1</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Goal Category 2</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Goal Category 3</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Goal Category 4</td>
                <td><input type="text" class="form-control" id="" placeholder="Enter Goal Text"></td>
                <td>
                    <div class="form-group row">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


<footer class="footer">
    <br>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-5 bg-success">
                <div class="text-center largeFont">Preview</div>
            </div>
            <div class="col-2"></div>
            <div class="col-5 bg-info">
                <div class="text-center largeFont">Update</div>
            </div>
        </div>
    </div>
</footer>