<div class="row">
    <div class="col-12">
        <form action="/defaultSite/homePage" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input">
                    <label class="custom-file-label font-weight-bold" for="customFile">Choose Logo</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Welcome Text</label>
                <div class="col-sm-10">
                    <input type="text" name="welComeText" class="form-control" placeholder="Welcome Text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Header</label>
                <div class="col-sm-10">
                    <input type="text" name="header" class="form-control" placeholder="Header">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Enter Info</label>
                <div class="col-sm-10">
                    <input type="text" name="info" class="form-control" placeholder="Home Page Info">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Anchor Text</label>
                <div class="col-sm-10">
                    <input type="text" name="anchorText" class="form-control" placeholder="Anchor Text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Anchor Link</label>
                <div class="col-sm-10">
                    <input type="text" name="anchorLink" class="form-control" placeholder="Anchor Link">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Text</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="buttonText" placeholder="Button Text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label font-weight-bold">Button Link</label>
                <div class="col-sm-10">
                    <input type="text" name="buttonLink" class="form-control" placeholder="Button Link">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>